<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/static/header.css" />
        <link rel="stylesheet" href="/static/contents.css" />
        <link rel="stylesheet" href="/static/footer.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    </head>
    <body>
        <header class="header-5">
            <div class="header-inner">
              <div class="logo">
                  <a href="/views/index.html">
                <img src="/static/images/logo1.png" />
                </a>              
              </div>
              <nav class="header-nav">
                <ul class="header-nav-list">
                  <a href="/views/index.html"><li class="header-nav-item select">Home</li></a>
                  <a href="/views/menu.html"><li class="header-nav-item select">Menu</li></a>
                  <a href="/views/about.html"><li class="header-nav-item select">About</li></a>
                  <div class="header-nav-item">
                    <a href="/views/login.html" class="header-button header-post">Login</a>
                  </div>
                  <div class="header-nav-item">
                    <a href="/views/signup.html" class="header-button header-login">Sign up</a>
                  </div>
                </ul>              
              </nav>
            </div>
          </header>
        <h2 class="title">about</h2> 
        <div class="footer-dark">
            <footer>
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 col-md-3 item">
                            <h3>Services</h3>
                            <ul>
                                <li><a href="#">Affiliates</a></li>
                                <li><a href="#">Gift Card</a></li>
                                <li><a href="#">First Responders</a></li>
                            </ul>
                        </div>
                        <div class="col-sm-6 col-md-3 item">
                            <h3>Help & Support</h3>
                            <ul>
                                <li><a href="#">FAQ</a></li>
                                <li><a href="#">Terms & Conditions</a></li>
                                <li><a href="#">Contact Us</a></li>
                            </ul>
                        </div>
                        <div class="col-md-6 item text">
                            <h3>Our Menu</h3>
                            <ul>
                                <li><a href="#">All Journeys</a></li>
                                <li><a href="#">Grocery</a></li>
                            </ul>
                        </div>
                        <div class="col item social"><a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-instagram"></i></a></div>
                    </div>
                    <p class="copyright">Copyright © Fall 2021, Noa Yasukagawa, WEB322 ZAA</p>
                </div>
            </footer>
        </div>
    </body>
</html>

